.ma-tooltip {
  position: relative;
  display: inline-block;

  .ma-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black !important;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .ma-tooltip:hover .ma-tooltip-text {
    visibility: visible;
  }
  .ma-tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .ma-tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .ma-tooltip-left {
    top: -5px;
    right: 105%;
  }
  .ma-tooltip-right {
    top: -5px;
    left: 105%;
  }
}
