<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Magician UI
  </h1>
  <button (click)="isDialogVisible = true">Show Dialog</button>
</div>
<ma-dialog [(visible)]="isDialogVisible">
  <ng-template maTemplate="header">
    hi
  </ng-template>
  <ng-template maTemplate="body">
    ho
  </ng-template>
  <ng-template maTemplate="footer">
    <button (click)="isDialogVisible = false">Close</button>
  </ng-template>
</ma-dialog>

<div maTooltip maTooltipText="prueba">Hover over me
</div>
  <!--<span class="ma-tooltip-text">Tooltip text</span>-->
<!--</div>-->
