/* The Modal (background) */


.ag-fade {
  transition: opacity .15s linear;
}
.ag-modal.ag-fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.ag-modal {
  background-color: rgba(0,0,0,0.50);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.ag-modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

/* Modal Header */
.ag-modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.ag-modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
/* Modal Content */
.ag-modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}


.ag-modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.ag-modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}


/* The Close Button */

.ag-close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.ag-close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.ag-modal-header .ag-close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

button.ag-close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

@media (min-width: 576px) {
  .ag-modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}